* {
    margin: 0;
    box-sizing: border-box;
    font-family: Raleway, sans-serif;
}

body {
    background-image: linear-gradient(to bottom right, #fef0f5, #d6e6fe);
    height: 100vh;
    margin-top: 20px;
}

.wrapper {
    margin: auto;
    padding-inline: 40px;
}

.max-width {
    width: max-content;
    max-width: 100%;
}

h1 {
    padding-top: 20px;
    background-image: linear-gradient(to right, #a44f7c, #594955);
    color: transparent;
    background-clip: text;
    width: max-content;
    max-width: 100%;
    font-weight: 500;
    font-size: 50px;
}

h2 {
    font-weight: 200;
    padding-top: 5px;
}

h3 {
    padding-top: 30px;
    font-weight: 200;
    font-size: 15px;
}

input[type=checkbox] {
  display: none;
}

.filters {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-block: 10px 40px;
}

.round-filter, .activity{
    border: solid 1px #a44f7c;
    padding: 4px 10px;
    border-radius: 20px;
    font-size: 15px;
    cursor: pointer;
}

input:checked + label {
    background-image: linear-gradient(to right, #a44f7c, #594955);
    border: solid 1px #a44f7c00;
    color: white;
}

.activity {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
    height: 40px;
    font-weight: 600;
    width: 500px;
    text-align: center;
}


button {
    background-image: linear-gradient(to right, #a44f7c, #594955);
    color: azure;
    padding: 10px 20px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px;
}

button:hover {
    background-image: linear-gradient(to right, #a44f7caf, #594955b6);
}

@media (width < 560px) {
.activity {
width: 300px;
    }
}

@media (width < 400px) {
.activity{
    margin: auto;
    width: 200px;
    }

button {
    display: block;
    margin: auto;
    margin-top: 20px;
    }
}