* {
    margin: 0;
    box-sizing: border-box;
    font-family: Raleway, sans-serif;
}

body {
    background-image: linear-gradient(to bottom right, #fef0f5, #d6e6fe);
    height: 100vh;
}

.center {
    margin: auto;
}

.max-width {
    width: max-content;
}

h1 {
    padding-top: 20px;
    background-image: linear-gradient(to right, #a44f7c, #594955);
    color: transparent;
    background-clip: text;
    width: max-content;
    font-weight: 500;
    font-size: 50px;
}

h2 {
    font-weight: 200;
    padding-top: 5px;
}

h3 {
    padding-top: 30px;
    font-weight: 200;
    font-size: 15px;
}

input[type=checkbox] {
  display: none;
}

.filters {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-block: 10px 40px;
}

.round-filter {
    border: solid 1px #a44f7c;
    padding: 4px 10px;
    border-radius: 20px;
    font-size: 15px;
}
